1. Attendance Data

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.



2. Read the coffee_levels table.
Transform the data so that each carafe is in it's own column.

Is this the best shape for the data?

Cake Recipes

3. Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
Tidy the data as necessary.

Which recipe, on average, is the best?

Which oven temperature, on average, produces the best results?

Which combination of recipe, rack position, and temperature gives the best result?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

In [13]:
df=pd.read_csv('attendance.csv',index_col=0)

In [14]:
df.head()

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
Sally,P,T,T,H,P,A,T,T
Jane,A,P,T,T,T,T,A,T
Billy,A,T,A,A,H,T,P,T
John,P,T,H,P,P,T,P,P